<p>"Captain Onion" finishes his exploration of this strange planet, where nothing
behaves as expected, and arrives back at his rocket ship to discover that his
lost his red key. After several wrong turns he makes it into the castle where he
solves a series of puzzles to finally encounter his nemesis, [name redacted]. He
flees back to his rocket ship, collecting the red key on the way, and makes it
back just in time to flee this planet for good, and go on to longer adventures.</p>

<p>Written for the <a href="http://archive.globalgamejam.org/2010/bogus-quest">2010 Global GameJam</a>.</p>
