<p>The first Rockethands game, for iPhone and iPod touch.</p>

<p>Guide a marooned spaceship out of a series of caves using thrusters. You must place them carefully as they will ignite on a timer and propel the ship around according to their size.<p>

<p><%= image_tag('rf_tute.jpg', :style => 'max-width:100%;') %></p>

<p>Rocketfuse has a charming cardboard asthetic and a lively original soundtrack.</p>

<iframe width="640" height="360" src="//www.youtube.com/embed/0n-WgVGnr9o?rel=0" frameborder="0" allowfullscreen></iframe>
