<p>I made Sojourn as my first foray into Unity and my second entry and first solo entry for <a href='http://onegameamonth.com/beetlefeet'>One Game a Month</a>.</p>

<p>The theme was 'loops' and I decided I would do some gravity and planets thing with real orbital physics.</p>

<p>I spent ages fiddling with initial positions, velocities and masses to get the damn solar system to stay in orbit. Should have faked it.</p>

<p>I ended up settling on a casual visit-all-the-places mechanic that can be completed at your own pace. The idea is that it feels quite nice and relaxing to float around and see the sites. It plays much better with a controller.</p>

<p>I then added a bit of a quirky narrative to 'frame' the gameplay and wrapped it up. I'm happy with how it came together, though the initial experience (especially without a controller) is pretty rough.</p>

<p>Most of the artwork and the music was found online and is detailed on the actual game's page (link below). Of note is the 3d model from NASA I repurposed for the player's 'ship'.</p>