<p>Space crash is a free iOS game Rockethands as a companion to RocketFuse.</p>

<p>The first version was primarily done by one person in one week.</p>

<p>Steer around asteroids and make it as far as possible.<p>

<iframe width="640" height="360" src="//www.youtube.com/embed/vGc0taonXZE" frameborder="0" allowfullscreen></iframe>
