<p>Video Spirit is a rudimentary game for March's <a href='http://onegameamonth.com/beetlefeet'>One Game a Month</a>.</p>
<p>The theme is 'neon' and I decided to use an old running animation I made years ago. And add Neon.</p>
<p>Using Unity again and playing around with mobile deployment and onscreen controls this time.</p>
<p>The game currently has no sound and only a rudimentary scoring system. It's still kind of fun for a little bit but needs work to be considered finished. I'm not sure if I'll do more work on this game, at least probably not right away.</p>