<%
  @title = game.name
%>

<%= partial(:game_header, locals: { game: game, id: id }) %>

<div class='content details'>
  <%= partial("game/#{id}", locals: { game: game, id: id }) rescue game.description %>
</div>

<%= partial(:game_platforms, locals: { platforms: game.platforms }) %>
<%= partial(:game_credits, locals: { people: game.people }) %>
