<p>The rockethands crew and honourary member Richard made Dwarf Squad over 48 hours for <a href="http://globalgamejam.com">Global Gamejam 2014</a></p>
<p>You can see our entry page on the GGJ website <a href='http://globalgamejam.org/2014/games/dwarf-squad'>here</a>.</p>
<p>Source code is available on <a href='http://github.com/ggj14/dwarf-squad'>github</a>.</p>