<%
authors ||= []
page_footer_color ||= nil
%>

<h3 class='footer-headings'>Contributors</h3>
<div class='big-icons footer'>
  <% authors.reject{|x| !People.icon_for?(x)}.each do |author, credit| %>
  <div class='credit'>
    <a href='http://www.twitter.com/<%= People.twitter(author) %>'>
    <%= image_tag People.avatar_url(author), class: 'icon' %>
    <p><%= People.twitter(author) %></a><br /><%= credit %></p>
  </div>
  <% end %>
  <div style='clear: both;'> </div>
</div>