<%
  style = ""
  style << "background-color: #{game.top_color};" if game.top_color?
  style << "background-image: url(#{image_path(game.background)});" if game.background?
%>

<div class="banner" style="<%= style %>">
  <h1><%= game.name %></h1>
</div>


