<%
platforms ||= []
%>

<div class='big-icons platforms'>
  <h3>Play now:</h3>
  <% platforms.each do |platform| %>
    <% type = platform['type'] %>
    <% name = platform['name'] %>
    <% url = platform['url'] %>
    <div class='platform'>
      <a href='<%=url%>'>
        <%= image_tag "#{type}.png", class: 'icon' %>
        <p><%= name %></p>
      </a>
    </div>
  <% end %>
  <div style='clear: both;'> </div>
</div>