<h3 class="footer-headings">Contributors</h3>
<div class="big-icons footer">
  <% people.each do |id, person| %>
    <div class="credit">
      <a href="/person/<%= data.people[id].nick.downcase %>.html">
        <%= image_tag(data.people[id].avatar, class: "icon") %>
      <p><%= data.people[id].nick %></a><br /><%= person.roles.map { |id| data.roles[id].name }.join(", ") %></p>
    </div>
  <% end %>
  <div style="clear: both;"> </div>
</div>
