<p>I made Sojourn as my first foray into Unity and my second entry and first solo entry for <a href='http://onegameamonth.com/beetlefeet'>One Game a Month</a>.</p>

<p>The theme was 'loops' and I decided I would do some gravity and planets thing.</p>

<p>I probably spent most of the time fiddling with initial positions and velocities and masses to try to get the damn solar system to stay in orbit.</p>

<p>I ended up settling on a casual visit-all-the-places mechanic that can be done at your own pace. The idea is that it feels quite nice and relaxing to float around and see the sites. It plays quite nicely with an xbox controller (at least in windows).</p>

<p>I then added a bit of a quirky narrative to frame the gameplay and wrapped it up. I'm happy with how it came together, though the inital experience (especially without a controller) is pretty rough.</p>

<p>Most of the artwork and the music is found online and detailed on the actual game's page (link below). Of note is the 3d model from NASA I reporposed for the probe you control (it wasn't 'Sojourner' however.)</p>