<p>Video Spirit is a <em>work in progress</em> for March's <a href='http://onegameamonth.com/beetlefeet'>One Game a Month</a>.</p>
<p>The theme is 'neon' and I decided to use an old running animation I made years ago. And add Neon.</p>
<p>Using Unity again and playing around with mobile deployment and onscreen controls this time.</p>