---
title: Rockethands.com
---
<%# supresses error when building this file directly %>
<% if (game ||= nil) %>

  <%= partial :game_header, locals: game %>
  <div class='content'>
    <%= partial Games.path_for(game['title']), locals: game rescue nil%>
  </div>
  <%= partial :game_platforms, locals: game %>
  <%= partial :game_credits, locals: game %>

<% end %>