---
title: Rockethands.com
---

<div class='content'>
  <div class="pure-g">
    <% data.games.each do |id, game| %>
      <%= partial(:game_badge, locals: { id: id, game: game }) %>
    <% end %>
  </div>
</div>
